<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<script type="text/javascript" src="configHelper.js"></script>
	
</head>

<body onload="main()">
	<p id="messages"></p>
	<form  id="form" style="display:none;" action="/services/init-config" method="get">
    <p><label for="title" >title*</label></p>
    <p><input required="required" type="text" name="title" id="title" /></p>
    <p><label for="min_players" >Min players*</label></p>
    <p><input required="required" type="text" name="min_players" id="min_players" /></p>
    <p><label for="max_players" >Max players*</label></p>
    <p><input required="required" type="text" name="max_players" id="max_players" /></p>
		<button id="formbutton" type="submit">Submit config</button>
	</form>
</body>

</html>