<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800,900" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./statement.css">

  <script src="statement.js"></script>
</head>

<body onload="init()">
  <meta charset="UTF-8">
    <div class="wrapper">

      <div id="tab-buttons" class="tab-buttons">
        <button class="active" onclick="changeLanguage(event, 'EN')">English</button>
        <button onclick="changeLanguage(event, 'FR')">Français</button>
      </div>

      <div class="tab-content">
        <div class="edit">
          <div class="edit-title">HTML Source</div>
          <textarea id="statementInput" onkeyup="handleChangeStatementInput()" spellcheck="false"></textarea>
          <button id="save" onclick="save()">Save</button>
        </div>

        <div class="preview">
          <div class="preview-title">Preview</div>
          <div id="error"></div>
          <code id="result"></code>
        </div>
      </div>

    </div>
  </meta>
</body>

</html>
