<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js" integrity="sha256-47AQCzX6dqzjicKe4PabaBJtLnWffl34LU9WJUulNog=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js" integrity="sha256-0YzDSJS0qH+wpvug+Im1cMB9CX919NMtHj0d2VVHPp4=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800,900" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
	<script src="app.js" type="module"></script>
	<link rel="stylesheet" type="text/css" href="test.css">
</head>

<body>
	<div ng-app="player" class="player" ng-controller="PlayerCtrl" ng-cloak>

		<!-- ng-show="false" guarantees that this div will only be visible if angular loads but our app crashes -->
		<div ng-show="false" class="module-load-error-overlay">
			<div>The game's modules failed to load.</div>
			<div>Check your browser's JavaScript console for details.</div>
		</div>

		<div ng-show="showExportPopup" class="report-popup-wrapper">
			<div class="report-popup">
				<div class="report-items-wrapper">
					<div ng-repeat="item in reportItems">
						<span class="report-item" ng-class="item.type">[<span ng-bind="item.type"></span>]</span> <span class="item-message" ng-bind="item.message"></span>
						<span ng-if="item.link">
							<a ng-href="{{item.link}}" target="_blank"> More info</a>
						</span>
						<ul ng-if="item.details" class="report-details-wrapper">
							<li><span ng-bind="item.details.name"></span></li>
							<li ng-repeat="(key, value) in item.details.params" class="report-details"><span ng-bind="key"></span>: <span ng-bind="value"></span></li>
						</ul>
					</div>
				</div>
				<div class="close-button-wrapper">
					<button class="close-button" ng-click="closeReportPopup()">Close</button>
				</div>
			</div>
		</div>

		<div ng-show="showViewReplayPopup" class="report-popup-wrapper">
			<div class="viewer-popup">
				<div class="cg-player-sandbox-replay"></div>
				<div id="console" class="outputs-demo" ng-if="!isEmptyObject(errors)">
					<div class="output-log" ng-repeat="(key,value) in errors">
						<span class="collapsed-bubble" ng-if="value.quantity > 1">
							<span class="collapsed-count" ng-bind="value.quantity" ng-if="value.quantity <= 9">
							</span>
							<span class="collapsed-count small" ng-if="value.quantity > 9">
								9+
							</span>
						</span>
						<span class="error-text" ng-bind="key"></span>
					</div>
				</div>

				<div class="close-button-wrapper">
					<button class="close-button" ng-click="closeViewReplayPopup()">Close</button>
				</div>
			</div>
		</div>

		<div ng-show="showConfigForm" class="report-popup-wrapper">
			<div class="form-popup">
				<form id="config-form" name="form">
					<p><span ng-bind="formStatement"></span></p>
					<div ng-if="config.type != 'solo' && config.type != 'opti'">
						<p>
							<label for="min_players">Min players*</label>
						</p>
						<p>
							<input required type="number" min="1" max="8" ng-model="config.minPlayers" step="1" />
						</p>
						<p>
							<label for="max_players">Max players*</label>
						</p>
						<p>
							<input required type="number" min="1" max="8" ng-model="config.maxPlayers" step="1" />
						</p>
					</div>
					<p>
						<label>
							<input type="radio" ng-model="config.type" value="multi" ng-required="!config.type">
							Multiplayer Game
						</label>
					</p>
					<p>
						<label>
							<input type="radio" ng-model="config.type" value="solo" ng-required="!config.type">
							Solo Game
						</label>
					</p>
					<p>
						<label>
							<input type="radio" ng-model="config.type" value="opti" ng-required="!config.type">
							Solo Game with Optimization
						</label>
					</p>
					<div ng-if="config.type == 'opti'">
						<p>
							<label for="criteria">Criteria*</label>
						</p>
						<p>
							<input required type="text" ng-model="config.criteria" />
						</p>
						<p>
							<label for="sorting_order">Sorting order*</label>
						</p>
						<p>
							<select required ng-model="config.sortingOrder">
								<option value="asc">Ascendant</option>
								<option value="desc">Descendant</option>
							</select>
						</p>
						<p>
							<label>
								<input type="checkbox" ng-model="configForm.translate" value="true">
								Translate criteria
							</label>
						</p>
						<div ng-if="configForm.translate">
							<p>
								<label for="criteria">English criteria</label>
							</p>
							<p>
								<input required type="text" ng-model="config.criteriaEn" />
							</p>
							<p>
								<label for="criteria">French criteria</label>
							</p>
							<p>
								<input required type="text" ng-model="config.criteriaFr" />
							</p>
						</div>
					</div>
					<div class="close-button-wrapper">
						<button class="close-button" type="submit" ng-click="submitConfig(form.$valid, config)">Submit config</button>
					</div>
				</form>
			</div>
		</div>

		<div class="main-wrapper" ng-style="{'user-select': userSelect}">
			<div class="left-wrapper left-bloc">
				<div class="viewer-container">
					<div class="viewer-wrapper">
						<div class="cg-player-sandbox"></div>
					</div>
				</div>

				<div class="game-outputs">
					<div class="game-outputs-up">
						<div class="game-outputs-up-log">
							<div class="output-frame">
								<div class="game-outputs-title">Game errors</div>
								<div id="console" class="outputs">
									<div class="output-log" ng-repeat="(key,value) in errors" ng-if="errors">
										<span class="collapsed-bubble" ng-if="value.quantity > 1">
											<span class="collapsed-count" ng-bind="value.quantity" ng-if="value.quantity < 9">
											</span>
											<span class="collapsed-count" ng-if="value.quantity > 9">
												+
											</span>
										</span>
										<span class="error-text" ng-bind="key"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="game-outputs-up-uinput">
							<div class="output-frame">
								<div class="game-outputs-title">Game properties</div>
								<div id="console" class="outputs" ng-bind="uinput[0]" readonly></div>
							</div>
						</div>
						<div class="game-outputs-up-buttons-wrapper">
							<button class="game-button main-button" ng-click="exportZip()">
								Export Project
							</button>
							<button class="game-button secondary-button" 
								ng-disabled="selectProgress !== 'inactive'" 
								ng-click="selectReplay()">
								<span ng-if="selectProgress === 'inactive'">Set intro replay</span>
								<span ng-if="selectProgress === 'saving'">Saving...</span>
								<span ng-if="selectProgress === 'complete'">Intro replay saved!</span>
							</button>
							<button class="game-button secondary-button" ng-disabled="!isReplayAvailable()" ng-click="viewReplay()"> 
								View intro replay
							</button>
						</div>
					</div>

					<div class="game-outputs-down">
						<div class="game-outputs-down-referee">
							<div class="game-outputs-title">Referee</div>
							<div class="console-output-frame">
								<div class="console-output-wrapper">
									<div class="console-output-stdout">
										<div class="game-outputs-down-referee-title">Standard Output</div>
										<div class="console-outputs pre-wrap" ng-bind="referee.stdout"></div>
									</div>
									<hr class="outputs-seperator">
									<div class="console-output-stderr">
										<div class="game-outputs-down-referee-title">Standard Error</div>
										<div class="console-outputs pre-wrap" ng-bind="referee.stderr"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="game-outputs-down-summary">
							<div class="output-frame">
								<div class="game-outputs-title">Game Summary</div>
								<div id="console" class="outputs" ng-bind-html="summary | formatConsole:agents" readonly></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="resize-handle" resize-handle data-enabled="layoutEnabled"></div>

			<div class="players-outputs-wrapper right-bloc">
				<div id="output-players" class="players-outputs-frame" ng-class="{'less-or-equal-than-two-players': lessOrEqualThanTwoPlayers()}">
					<div ng-repeat="(index, agent) in agents" class="players-outputs-player" >
						<div class="players-outputs-player-header" ng-style="{'border-color': playerColors[agent.index]}">
							<svg class="players-outputs-player-header-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.031 16" ng-style="{'fill': playerColors[agent.index]}">
								<path id="User_16" d="M903.019,44H889a1,1,0,0,1-1-1c0-2.708,2.514-4.882,5.541-5.673a5,5,0,1,1,4.919,0c2.955,0.769,5.436,2.848,5.535,5.454A1,1,0,0,1,903.019,44ZM896,30a3,3,0,1,0,3,3A3,3,0,0,0,896,30Zm0,9c-2.461,0-5.349,1.214-5.862,3h11.723C901.348,40.213,898.46,39,896,39Z" transform="translate(-888 -28)"/>
							</svg>
							<div class="players-outputs-player-header-title" >{{agent.name}}</div>
						</div>
						<div class="console-output-frame">
							<div class="console-output-wrapper">
								<div class="console-output-stdout">
									<div class="players-outputs-player-console-title" ng-style="{color: playerColors[agent.index]}">Standard Output</div>
									<pre class="console-outputs" ng-bind="agent.stdout"></pre>
								</div>
								<hr class="outputs-seperator"> 
								<div class="console-output-stderr">
									<div class="players-outputs-player-console-title" ng-style="{'color': playerColors[agent.index]}">Standard Error</div>
									<pre class="console-outputs" ng-bind="agent.stderr"></pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>